/* reiniciar el navegador para evitar diferencia de estilos*/
*{
    box-sizing:border-box;
    margin-top: 2;
    margin-bottom: 2;
    margin-left: 1;
    margin-right:1;
    padding: 0;
}
/* estilos generales del cuerpo de la pagina */
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: rgb(43, 165, 145);
    color: rgb(245, 245, 245);
}
/* estilos para el cabezado con degradado */
.site-header{
    background: linear-gradient(100deg, rgba(238, 205, 19, 0.671), rgba(192, 228, 151, 0.829));
    color: rgba(8, 25, 39, 0.914);
    padding: 1rem;
    text-align: center;
}.subtitle{
    opacity: 9.5%;
}

.content{
    display: flex; /* coloca las tarjetas una al lado de la otra */
    gap: 4rem; /* separar las tarjetas */
    flex-wrap: wrap; /* permitir que las tarjetas sbajen si no caben */
    justify-content: center;
    padding: 2rem;
    
}

.card{
    background: rgba(110, 108, 108, 0.8);
    padding: 1.25rem;
    border-radius: 22px;
    box-shadow: 0.9px 15px rgba(112, 9, 9, 0.295);
    width: 300px;
    
}

.card h2{
    margin-bottom: 0.5rem;
    color: lightseagreen;
}

.card p{
  margin-bottom: 1rem;
  color: darkgrey;
}

.btn{
    display: inline-block;
    padding: 0.8rem 1rem;
    background: lightseagreen;
    color: rgba(255, 255, 255, 0.836);
    border-radius: 8px;
}

.card a{
  justify-content: center;
  display: flex;
  text-align: center;
}

.site-footer{
    background: rgba(123, 188, 241, 0.541);
    color: rgba(255, 255, 255, 0.733);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}